.section__welcome {
    background-color: #797ef6;
    position: relative;
    z-index: 0;
}

.welcome-intro {
    position: absolute;
    top: 30%;
    left: 26%;
    width: 45%;
}

.welcome-intro h1 {
    text-align: center;
}

.welcome-intro p {
    font-size: 150%;
}