.app-header {
    padding: 2%;
    position: fixed;
    background-color: transparent;
    color: white;
    z-index: 10;
    width: 100vw;
}

.app-header button:hover {
    font-size: 140%;
}

.home-link {
    float: left;
}

.light-grey {
    font-weight: bold;
    color: #cdcdcd;
}

.menu-bar {
    float: right;
}