.section__leadership {
    /* background-color: #ccccff; -- FORMER COLOR */
    background-color: #fff;
    padding-bottom: 10vh;
}

.section__leadership h2 {
    padding: 4vh 0 4vh 2vw;
    margin: 0;
    height: 15vh;
}

.section__leadership h4 {
    font-family: suez one, serif;
    height: 8vh;
    margin: 0;
    font-weight: bold;
}

.leadership__tennis {
    height: 100vh;
    width: 100vw;
    /* border: 1px solid red; */
    padding: 4vh 0 2vh 4vw;
}

.leadership__acm {
    height: 100vh;
    width: 100vw;
    padding: 6vh 0 6vh 4vw;
}

.leadership__text-box {
    height: 80vh;
    width: 50%;
    float: left;
    padding: 0 3vw 0 3vw;
    /* overflow: scroll; -- FORMER */
}
.leadership__images {
    height: 80vh;
    width: 50%;
    float: right;
    padding: 0 2vw 0 0;
}

.img-1,
.img-2 {
    height: 40vh;
    width: 50vw;
    display: flex;

    justify-content: center;
    align-items: center;
}

.img-1 img,
.img-2 img {
    width: 65%;
    height: 95%;
    border-radius: 5%;
}


@media only screen and (max-width: 900px) {
    .leadership__text-box p {
        font-size: 80%;
    }
}

@media only screen and (max-width: 550px) {
    .leadership__tennis {
        height: 165vh;
    }

    .leadership__acm {
        height: 185vh;
    }

    .leadership__text-box {
        height: 60vh;
        width: 100%;
        float: none;
        padding: 0 3vw 0 0;
        overflow: scroll;
        margin-bottom: 5vh;
    }
    .leadership__images {
        height: 80vh;
        width: 100%;
        float: none;
        padding: 0 2vw 0 2vw;
    }

    .img-1 {
        margin-bottom: 3vh;
    }
    
    .img-1,
    .img-2 {
        height: auto;
        width: 100%;
        display: flex;
    
        justify-content: center;
        align-items: center;
    }
    
    .img-1 img,
    .img-2 img {
        width: 65%;
        height: 95%;
        border-radius: 5%;
    }
}

@media only screen and (max-width: 400px) {
    .section__leadership h4 {
        height: 10vh;
    }
    .leadership__tennis {
        height: 150vh;
    }

    .leadership__acm {
        height: 155vh;
    }
}